@{
    ViewData["Title"] = "Cofirm Order";
}

<div class="text-center">
    <h3>Your order has been confirmed successfully, and we will promptly deliver your product</h3>
    <a asp-action="Index" asp-controller="Shopping" class="btn btn-primary btn-sm"><i class=""></i>Back to Shop</a>
</div>
